/**
* @file
* Customization for Dual
*
*/

@import 'base';

.art-home-bottom-row .pane-title {
  background-color: $wwuLime;
  padding: .5em;
}

.geo-full-width table {
  width: 100%;
}

.view-event-calendar table {
  width: 100%;
}

/* Speaker series calendar styles */
.speaker-list {
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    background-color: #eeeeee;
    margin-bottom: 14px;
    padding-bottom: 14px;
  }

  .views-field-title {
    display: block;
    padding: 0 14px;
    background-color: #dddddd;
    font-size: 1.1em;
    padding: 18px;

    a {
      color: black;
    }
  }

  .views-field-body {
    display: block;
    font-style: italic;
    font-size: 1.05em;
    padding: 0 22px;
    margin-top: 1em;

    p {
      margin: 0;
    }
  }

  .field-name-field-dates {
    padding: 0 22px;
    margin: 1em auto;
  }

  .views-field-body:after,
  .field-name-field-dates:after{
    display: block;
    width: 80%;
    height: 2px;
    background-color: #dddddd;
    content: '';
    margin: 1em auto;
  }

  .field-name-field-dates:after {
    width: 50%;
  }

  .views-field-field-event-location {
    padding: 0 22px;
    margin-bottom: 1em;
  }
}

.item-list ul {
  list-style: inside;
  padding: 0;
  margin-top: -.5em;

  li {
    padding: 14px;
  }
}

.pane-department-helpful-files-panel-pane-1 div.field-content {
  padding: 7px 14px;
}

/*
Front Page "Donate Button"
*/

.donate-button{
  background: $wwuOceanBlue;
  color: #FFFFFF;
  width:90%;
  text-align:center;
}

.make-a-difference{
  font-size:25px;
  font-style:italic;
  font-weight:100;
  border-bottom: 1px solid #FFFFFF;
  line-height:200%;
  padding-bottom: 15px;
}

.donate-now{
  font-size: 35px;
  font-weight:1000;
  line-height:200%;
}
